<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="dark-bg img-bg img-bg-soft" style="background-image: url({{ event.backgroundImageUrl }});">
  <div class="container inner-top-md inner-bottom-sm">
    <div class="row">

      <div class="col-md-8 inner-right inner-bottom-xs">
        <header>
          <h1>{{event.name}}</h1>
          <p>{{event.teaser}}</p>
        </header>
      </div><!-- /.col -->

      <div class="col-md-4">
        <h3 style="margin-top: 8px;">DETAILS</h3>
        <ul class="contacts">
          <li><i class="icon-globe-1"></i> {{event.city}}</li>
          <li><i class="icon-location"></i> {{event.location}}</li>
          <li><i class="icon-calendar-1"></i> {{event.dates}}</li>
          <li><i class="icon-lifebuoy"></i> {{event.supportEmail}}</li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->
{{#if event.registrationOpen}}
<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        {{#if messages.info}}
          <h1 class="single-block">{{messages.info}}</h1>
        {{else}}
          	<h1 class="single-block">Ready to compete? <a href="{{event.id}}/register" class="btn btn-large">Register Now</a><p style="font-size:15px;">{{event.registerNow}}</p></h1>
        {{/if}}
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{{/if}}

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->

<!-- ============================================================= SECTION – MAP ============================================================= -->

<script type="text/javascript">
  var long = {{event.lat}};
  var lat = {{event.long}};
</script>

<section id="map" class="height-sm"></section>

<!-- ============================================================= SECTION – MAP : END ============================================================= -->


<!-- ============================================================= SECTION – SERVICES ============================================================= -->

<section id="services">
  <div class="container inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabs tabs-services tabs-circle-top tab-container">

          <ul class="etabs text-center">
            <li class="tab"><a href="#tab-1"><div><i class="icon-info-circled"></i></div>Overview</a></li>
            <li class="tab"><a href="#tab-2"><div><i class="icon-money"></i></div>Prizes</a></li>
            <li class="tab"><a href="#tab-3"><div><i class="icon-users-1"></i></div>Participants</a></li>
            <li class="tab"><a href="#tab-4"><div><i class="icon-hammer"></i></div>Rules</a></li>
            {{#if event.eventOver}}
            <li class="tab"><a href="#tab-5"><div><i class="icon-trophy"></i></div>Winners</a></li>
            {{else}}
            <li class="tab"><a href="#tab-5"><div><i class="icon-rocket"></i></div>Register</a></li>
            <li class="tab"><a href="#tab-6"><div><i class="icon-help-circled"></i></div>FAQ</a></li>
            {{/if}}
          </ul><!-- /.etabs -->

          <div class="panel-container">

            <div class="tab-content" id="tab-1">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  {{{ event.overview }}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-2">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  {{{ event.prizes }}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-3">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  <h3>Meet Your Competition!</h3>
                  <ol>
                  {{#each event.teams}}
                    <li> <a href="/{{../event.id}}/teams/{{this.id}}">{{this.name}}</a><br/>
                  {{/each}}
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-4">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  {{{ event.rules }}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            {{#if event.eventOver}}
            <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  {{{ event.winners }}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            {{else}}

            <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  {{{ event.registration }}}

                  {{#if event.registrationOpen}}
                    <h1 class="single-block">Ready to compete? <a href="{{event.id}}/register" class="btn btn-large">Register Now</a></h1>
                  {{else}}
                    <p><b>Hackathon registration is not open yet. Please check back.</b></p>
                  {{/if}}
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->

            <div class="tab-content" id="tab-6">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block">
                  <h2> When should I come to the event?</h2>
                  <p>You should attend the event on the day mentioned on the <a href="http://tco15.topcoder.com/regional-events/">TCO15 website.</a></p>
                  <p>Yes, the hackathon does officially begin 48 hours prior to the event, so what does that mean?</p>
                  <p>This means that if you are working as a group, you may want to schedule time to meet up and hack away together! Grab some pizza and soda and crank out an amazing app for those 48 hours! On the day of the event your submission is due and your job at this point is to just enjoy the day! Free food and drink and meet up with all your favorite topcoder friends. Hopefully by the end of the day your team will be the one walking away with $2,500!</p>
                  <h2>Which APIs will be on the wheel?</h2>
                  <p>Well, if we told you that it wouldn't be as much fun! Releasing the APIs when the wheel is revealed puts everyone on the same playing field!</p>
                  <h2>By "app" you mean either a mobile application or a web application, is that correct?</h2>
                  <p>Yes! Either of those types of applications are valid.</p>
                  <h2>If I win, how is the prize money distributed?</h2>
                  <p>The prize money will be evenly distributed between all team members of the winning teams. If you are competing solo all the prize money goes straight to you.</p>
                  <br/><br/>
                  <p>Have another question?  Go to <a href="http://apps.topcoder.com/forums/?module=Thread&threadID=857657&start=0">this forum</a> to ask it!
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.tab-content -->
            {{/if}}

          </div><!-- /.panel-container -->

        </div><!-- /.tabs -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
