<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>topcoder hackathons</title>

		<!-- Bootstrap Core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Customizable CSS -->
		<link href="/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
		<link href="/css/green.css" rel="stylesheet" title="Color">
		<link href="/css/owl.carousel.css" rel="stylesheet">
		<link href="/css/owl.transitions.css" rel="stylesheet">
		<link href="/css/animate.min.css" rel="stylesheet">

		<!-- Fonts -->
		<link href="/css/lato.css" rel="stylesheet">
		<link href="/css/sanspro.css" rel="stylesheet">

		<!-- Icons/Glyphs -->
		<link href="/fonts/fontello.css" rel="stylesheet">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!-- Redirect from tcohacks.herokuapp.com -->
		<script>if (location.hostname != 'hackathons.topcoder.com') location.href = 'http://hackathons.topcoder.com/';</script>

		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->
		<!-- KISSmetrics tracking snippet -->
		<script type="text/javascript">var _kmq = _kmq || [];
		var _kmk = _kmk || '0dbe49d52a85807a994faa0d44a57ff54c1696f5';
		function _kms(u){
		  setTimeout(function(){
		    var d = document, f = d.getElementsByTagName('script')[0],
		    s = d.createElement('script');
		    s.type = 'text/javascript'; s.async = true; s.src = u;
		    f.parentNode.insertBefore(s, f);
		  }, 1);
		}
		_kms('//i.kissmetrics.com/i.js');
		_kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
		</script>
		<script src="https://cdn.auth0.com/js/lock-7.1.min.js"></script>
		<script src="/bower_components/socket.io-client/socket.io.js"></script>
		<script type="text/javascript">
		    var lock = new Auth0Lock('{{auth0.clientId}}', '{{auth0.domain}}');
		    function login() {
		        lock.show({
		            dict: {
		              signin: {
		                title: "Login with your<br/>Topcoder account"
		              }
		            },
								usernameStyle: 'username',
								defaultUserPasswordConnection: 'LDAP',
		            signupLink: 'https://www.topcoder.com/register/?next={{auth0.tcCallbackUrl}}',
		            disableResetAction: true,
		            callbackURL: '{{auth0.callbackUrl}}'
		            , responseType: 'code'
		            , authParams: {
		                scope: '{{auth0.scope}}'
		            }
		        });
		    }
		</script>

	</head>

	<body>

		<!-- ============================================================= HEADER ============================================================= -->

		<header>
			<div class="navbar">

				<div class="navbar-header">
					<div class="container">

						<!-- ============================================================= LOGO MOBILE ============================================================= -->

						<a class="navbar-brand" href="/"><img src="/images/tco15hacks-logo.png" class="logo" alt="topcoder"></a>

						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

					</div><!-- /.container -->
				</div><!-- /.navbar-header -->

				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">

							<!-- ============================================================= LOGO ============================================================= -->

							<a class="navbar-brand" href="/"><img src="/images/tco15hacks-logo.png" class="logo" alt="topcoder"></a>

							<!-- ============================================================= LOGO : END ============================================================= -->


							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

							<ul class="nav navbar-nav">

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Hackathons</a>
									<ul class="dropdown-menu">
										<li><a href="/tco15-russia">TCO15 Russia</a></li>
										<li><a href="/tco15-usa">TCO15 USA</a></li>
										<li><a href="/tco15-japan">TCO15 Japan</a></li>
										<li><a href="/tco15-india">TCO15 India</a></li>
										<li><a href="/tco15-finals">TCO15 Finals</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">TopCoder Open</a>
									<ul class="dropdown-menu">
										<li><a href="http://tco15.topcoder.com/" target="_blank">2015 Topcoder Open</a></li>
										<li><a href="http://community.topcoder.com/tco14/" target="_blank">2014 Topcoder Open</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->

							</ul><!-- /.nav -->

							{{#if authenticated}}
								<a href="/logout" class="btn btn btn-orange">Logout</a>
							{{else}}
								<a href="#" onclick="login()" class="btn btn btn-orange">Login</a>
							{{/if}}

							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>

		<!-- ============================================================= HEADER : END ============================================================= -->


		<!-- ============================================================= MAIN ============================================================= -->

		<main>
			{{{body}}}
		</main>

		<!-- ============================================================= MAIN : END ============================================================= -->


		<!-- ============================================================= FOOTER ============================================================= -->

		<footer class="dark-bg">

			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2015 Appirio. All rights reserved.</p>
					{{#if authenticated}}
						<p class="pull-right">Logged in as {{user.member.handle}}</p>
					{{/if}}
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>

		<!-- ============================================================= FOOTER : END ============================================================= -->

		<!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.easing.1.3.min.js"></script>
		<script src="/js/jquery.form.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-hover-dropdown.min.js"></script>
		<script src="/js/skrollr.min.js"></script>
		<script src="/js/skrollr.stylesheets.min.js"></script>
		<script src="/js/waypoints.min.js"></script>
		<script src="/js/waypoints-sticky.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/jquery.isotope.min.js"></script>
		<script src="/js/jquery.easytabs.min.js"></script>
		<script src="/js/google.maps.api.v3.js"></script>
		<script src="/js/viewport-units-buggyfill.js"></script>
		<script src="/js/scripts.js"></script>
		<script src="/js/validator.min.js"></script>

		<!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
		<!--[if !IE]> -->
			<script src="/js/onscroll.js"></script>
		<!-- <![endif]-->

		<link href="/css/green.css" rel="alternate stylesheet" title="Green color">
	</body>
</html>
