<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url({{event.backgroundImageUrl}});">
  <div class="container inner" style="padding-top:40px;padding-bottom:40px">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>{{event.name}}</h1>
          <p>{{event.teaser}}</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->
{{#if defaultInfo.error}}
<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h2 class="single-block">{{defaultInfo.error}}</h2>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{{/if}}

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->



<div class="container inner" style="padding-top:40px;padding-bottom:40px">
  <div class="row">

    <div class="col-md-8 inner-right inner-bottom-md">

      <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

      <section>

        <h2>Register yourself or your entire team!</h2>

        {{{ event.registration }}}

        <p>If you are signing up as a team, you will be designated as the team leader. You'll be responsible
        for administering your team, spinning the API wheel and submitting your entry.</p>

        <form class="forms" data-toggle="validator" role="form" action="/{{event.id}}/register" method="post">

          <div class="row">
            <div class="col-sm-7">
              <div>Participant or Team Name</div>
              <input type="text" name="teamName" value="{{defaultInfo.teamName}}" class="form-control" placeholder="Your handle or team name (required)" required>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-10">
              <div>Teammates</div>
              <input type="text" name="teamHandles" value="{{defaultInfo.teamHandles}}" style="padding-bottom:0px;margin-bottom:0px" class="form-control" placeholder="Example: mess, lazybaer, cards">
              <div style="font-size:12px;padding-bottom:10px">If you have teammates, enter a comma separated list of their topcoder handles. We'll verify to make sure they exist.</div>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-12">
              <div>Who are you?</div>
              <textarea name="teamOverview" class="form-control" placeholder="Tell us a little about yourself or your team ...">{{defaultInfo.teamOverview}}</textarea>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <button type="submit" class="btn btn-default btn-submit">Submit</button>

        </form>

      </section>

      <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->

    </div><!-- /.row -->
  </div><!-- /.container -->
