<h1>{{event.name}} Team</h1>

<h3>{{team.name}}</h3>

<p><a href="/{{event.id}}/teams/{{team.id}}/spin">Spin API Wheel</a></p>

<p>Team leader: {{team.leader}}</p>

<p>Other team members: {{team.memberHandles}}</p>

<p>API spins: {{team.apiSpins}}</p>