<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url({{event.backgroundImageUrl}});">
  <div class="container inner" style="padding-top:40px;padding-bottom:40px">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>{{event.name}}</h1>
          <p>{{event.teaser}}</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

<!-- ============================================================= SECTION – GET STARTED ============================================================= -->
{{#if messages.info}}
<section id="get-started" class="tint-bg">
  <div class="container inner-sm" style="padding-top:20px;padding-bottom:20px">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">{{messages.info}}</h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
{{/if}}

<!-- ============================================================= SECTION – GET STARTED : END ============================================================= -->



<div class="container inner" style="padding-top:10px">
  <div class="row">

    <div class="col-md-8 inner-right-md">

      <!-- ============================================================= SECTION – CONTACTS ============================================================= -->

      <section id="contacts" class="inner-top-md inner-bottom-sm" style="padding-top:50px">

        {{#if isTeam}}

          <h2>Team: {{team.name}}</h2>
          {{#if team.overview}}<p>{{team.overview}}</p>{{/if}}

          <p>Team leader: <a href="http://www.topcoder.com/member-profile/{{team.leader}}" target="_blank">{{team.leader}}</a> <i class="icon-export"></i></p>

        {{else}}

          <h2>{{team.name}}</h2>
          {{#if team.overview}}<p>{{team.overview}}</p>{{/if}}

        {{/if}}

        {{#if team.apiSpins}}

          {{#if isTeamLeader}}
            {{#if submission}}

              <div class="row" style="padding-bottom:15px">
                <div class="col-sm-10">
                  <h3>Your Submission</h3>
                  <ul class="contacts">
                    <li><i class="icon-video"></i> <a href="{{submission.video}}" target="_blank">{{submission.video}}</a></li>
                    <li><i class="icon-github"></i> <a href="{{submission.repoUrl}}" target="_blank">{{submission.repoUrl}}</a></li>
                  </ul><!-- /.contacts -->
                </div><!-- /.col -->
              </div><!-- /.row -->

            {{else}}
              <h2 class="single-block">Submit your entry <a href="/{{event.id}}/teams/{{team.id}}/submit"  class="btn btn-large"><i class="icon-thumbs-up-1"></i> Submit</a></h2>
              <p>You'll need to submit the URL to your 3 minute video (youtube, vimeo or screencast.com) demostrating your application plus the URL to your public git repo containing your code.</p>
            {{/if}}
          {{/if}}

          <div class="row" style="padding-bottom:15px">
            <div class="col-sm-6">
              <h3>APIs</h3>
              <ul class="contacts">
                {{#each team.apiSpins}}
                <li><i class="icon-magic"></i> {{this}}</li>
                {{/each}}
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
          </div><!-- /.row -->

          <p>Your app must use at least one of the two APIs listed above as well as your choice of one of the environmental APIs listed below:</p>
          <table>
            <thead>
              <tr>
                <th>Environment API</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong><a href="https://developers.terracycle.com/devportal/docs/getting_started">Terracycle</a></strong></td>
                <td>The Terracycle API allows application developers to give their end users access to Terracycle's waste collection services. Terracycle is an international upcycling and recycling company that collects difficult-to-recycle packaging and products and repurposes them. They work with over 100 major U.S. brands and 22 countries to collect used packaging and products to prevent them from ending up in landfills. Please contact Terracycle before using their API. Users of the API can get account, shipment, language, and location information, and also information on specific waste collection programs called Brigades.</td>
              </tr>
              <tr>
                <td><strong><a href="https://www.amee.com/api">AMEE</a></strong></td>
                <td>AMEE is a platform for greenhouse gas calculation, with access to emissions factors, calculation algorithms, and storage for data history. Our science team take the published methodologies from the science community and put them into a simple unified API, so you don't have to trawl through PDFs and spreadsheets to work it all our yourself. With over 8 million possible calculations, the platform covers everything from simple electricity calculations through to insanely complex industrial processes. If you need to work out the environmental impact of an activity, AMEE has the environmental intelligence you need.</td>
              </tr>
              <tr>
                <td><strong><a href="http://impact.brighterplanet.com/documentation">Brighter Planet Emission Estimates</a></strong></td>
                <td>This web service, part of Brighter Planet's carbon middleware suite, enables developers to build flexible, real-time carbon footprint estimates from sources such as cars, flights, and houses into business applications. Brighter Planet delivers cloud-based web services providing on-demand carbon information for a fraction of a cent per query, meant for enhancing existing operational data with environmental intelligence that matters. The emission calculation service provides greenhouse gas emission estimates for a variety of emitters of arbitrary description. The API uses RESTful protocol and responses can be formatted in XML, JSON, YAML, HTML, Text and JS.</td>
              </tr>
              <tr>
                <td><strong><a href="https://api-central.berkeley.edu/api/11">UC Berkeley CoolClimate</a></strong></td>
                <td>With the CoolClimate API, an initiative created by the University of California, Berkeley developers can create projects that calculate carbon footprints, measurement that assists with the individual management of climate impact. Available as a limited preview, users can access a set of parameters in an Excel document.</td>
              </tr>
              <tr>
                <td><strong><a href="https://greeniq.net/php/api">GardenKit</a></strong></td>
                <td>GreenIQ's GardenKit API provides access to their product, Smart Garden Hub. Smart Garden Hub is an application that aims to cut down water consumption in gardens and landscapes. The GardenKit API allows developers to access all the components that are required to build full or partial applications based on the GardenKit API's functionality. Some example API methods include retrieving valve settings, configuring valve settings, and accessing light settings.</td>
              </tr>
              <tr>
                <td><strong><a href="http://breezometer.com/our-plans/">BreezoMeter Air Quality</a></strong></td>
                <td>The BreezoMeter API accepts a user's location and responds with advanced street level real time Air Quality data stored within their database (Historical data also available). The API accepts a GET request with latitude and longitudes coordinates to respond with a rating on the air quality using a scale of 1-100 (unique to BreezoMeter, and also includes the country official AQI). The response also includes color readings for a customizable interface chart, and includes helpful tips on how to stay fit and use preventative care to remain in good health given the state of your location's air quality. If specific latitude and longitude coordinates are not at hand, the API can also process requests with an inputted city name or street address.</td>
              </tr>
              <tr>
                <td><strong><a href="http://reliefweb.int/help/api/advanced">ReliefWeb</a></strong></td>
                <td>ReliefWeb, a specialized digital service of the United Nations Office of Humanitarian Affairs (OCHA), is a source for timely information on global crises and disasters, enabling humanitarians to make informed decisions and plan effective assistance. The ReliefWeb API provides developer-friendly access to content on the ReliefWeb site. ReliefWeb launched in 1996 and has been posting Reports continuously since. Also available are UN reports on major disasters from the 1980s. Data in updated is real-time.</td>
              </tr>
              <tr>
                <td><strong><a href="http://www.fruitmap.sk/api">Fruitmap</a></strong></td>
                <td>Fruitmap is a user generated map of various types of fruit trees around the world. Anyone can easily mark the location of a tree on the site's map. Fruitmap exposes its data through a simple API. The API is able to deliver general data on all of the site's trees by type, as well as the location of all trees of a given type.</td>
              </tr>
            </tbody>
          </table>

        {{else}}
            {{#if isTeamLeader}}
              {{#if canSpin}}
                <p>We haven't recorded any API spins for you yet. You'll need to <i class="icon-arrows-cw"></i> <a href="/{{event.id}}/teams/{{team.id}}/spin">spin the API wheel</a> to know what APIs to include in your submission.</p>
              {{else}}
                <p class="red">Spinning of the API wheel is not open yet.</p>
              {{/if}}
            {{else}}
              <p>We haven't recorded any API spins for this {{#if isTeam}}team{{else}}participant{{/if}} yet.</p>
            {{/if}}
        {{/if}}

        {{#if isTeamLeader}}
          <p>If you need to modify your team or submission in any way, please contact <a href="mailto:{{event.supportEmail}}">{{event.supportEmail}}</a>.</p>
        {{/if}}
        
        {{#if event.japanSite}}
          <p><a href="/{{event.id}}#tab-3"><i class="icon-left-thin"></i> 他の参加チームを見てみよう</a></p>
        {{else}}
        <p><a href="/{{event.id}}#tab-3"><i class="icon-left-thin"></i> View Other Participating Teams</a></p>
        {{/if}}

      </section>

      <!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->

    </div><!-- ./col -->

    <div class="col-md-4">

      <!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->

      <section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">

        {{#if isTeam}}
          <h3 class="team-headline sidelines text-center"><span>Members</span></h3>
        {{/if}}

        <div class="row thumbs gap-md text-center">

          {{#each team.members}}
          <div class="col-sm-6 thumb">
            <figure class="member">

              <div class="member-image">
                <img src="{{this.pic}}">
              </div><!-- /.member-image -->

              <figcaption class="member-details bordered no-top-border">
                <p><a href="http://www.topcoder.com/member-profile/{{this.handle}}" target="_blank">{{this.handle}}</a></p>
              </figcaption>

            </figure>
          </div><!-- /.col -->
          {{/each}}

        </div><!-- /.row -->

      </section>

      <!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->

    </div><!-- /.col -->

  </div><!-- /.row -->
</div><!-- /.container -->
