<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero" class="light-bg img-bg img-bg-softer" style="background-image: url({{event.backgroundImageUrl}});">
  <div class="container inner" style="padding-top:40px;padding-bottom:40px">
    <div class="row">
      <div class="col-md-8">
        <header>
          <h1>{{event.name}}</h1>
          <p>{{event.teaser}}</p>
        </header>
      </div><!-- /.col -->
    </div><!-- ./row -->
  </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->


<div class="container inner" style="padding-top:10px">
  <div class="row">

    <div class="col-md-8 inner-right-md">

      <!-- ============================================================= SECTION – CONTACTS ============================================================= -->

      <section id="contacts" class="inner-top-md inner-bottom-sm" style="padding-top:50px">

        {{#if isTeam}}

          <h2>Team: {{team.name}}</h2>
          {{#if team.overview}}<p>{{team.overview}}</p>{{/if}}

          <p>Team leader: <a href="http://www.topcoder.com/member-profile/{{team.leader}}" target="_blank">{{team.leader}}</a> <i class="icon-export"></i></p>

        {{else}}

          <h2>{{team.name}}</h2>
          {{#if team.overview}}<p>{{team.overview}}</p>{{/if}}

        {{/if}}

        {{#if team.apiSpins}}

          {{#if isTeamLeader}}
            <h2 class="single-block">Submit your application <a href="#"  class="btn btn-large"><i class="icon-thumbs-up-1"></i> Submit</a></h2>

            <p>You'll need to submit the URL to your 3 minute video demostrating your application plus the URL to your public github repo containing your code.</p>
          {{/if}}


          <div class="row">
            <div class="col-sm-6">
              <h3>APIs</h3>
              <ul class="contacts">
                {{#each team.apiSpins}}
                <li><i class="icon-magic"></i> {{this}}</li>
                {{/each}}
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        {{else}}
          {{#if isTeamLeader}}
            <p>We haven't recorded any API spins for you yet. You'll need to <i class="icon-arrows-cw"></i> <a href="/{{event.id}}/teams/{{team.id}}/spin">spin the API wheel</a> to know what APIs to include in your submission.</p>
          {{else}}
            <p>We haven't recorded any API spins for this {{#if isTeam}}team{{else}}participant{{/if}} yet. The {{#if isTeam}}team{{else}}participant{{/if}} needs to login and spin the API wheel.</p>
          {{/if}}
        {{/if}}

      </section>

      <!-- ============================================================= SECTION – CONTACTS : END ============================================================= -->

    </div><!-- ./col -->

    <div class="col-md-4">

      <!-- ============================================================= SECTION – CONTACT NAMES ============================================================= -->

      <section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">

        {{#if isTeam}}
          <h3 class="team-headline sidelines text-center"><span>Members</span></h3>
        {{/if}}

        <div class="row thumbs gap-md text-center">

          {{#each team.members}}
          <div class="col-sm-6 thumb">
            <figure class="member">

              <div class="member-image">
                <img src="{{this.pic}}">
              </div><!-- /.member-image -->

              <figcaption class="member-details bordered no-top-border">
                <p><a href="http://www.topcoder.com/member-profile/{{this.handle}}" target="_blank">{{this.handle}}</a></p>
              </figcaption>

            </figure>
          </div><!-- /.col -->
          {{/each}}

        </div><!-- /.row -->

      </section>

      <!-- ============================================================= SECTION – CONTACT NAMES : END ============================================================= -->

    </div><!-- /.col -->

  </div><!-- /.row -->
</div><!-- /.container -->
